name: "CI NODE"

on:
    push:
        paths:
            - src/**
            - "!src/docs/**"
            - .github/workflows/ci.yml

jobs:

    lint:
        name: "Lint tests"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
            - run: npm install -D
            - run: npm run lint


    health-test:
        needs: ["lint"]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-node@v6
            - run: npm install
            - run: |
                  npm start &
                  sleep 5s
                  curl -v http://localhost:3500/health
              env:
                  PORT: 3500
