name: CI Symfony

on:
  push:
    branches: [ "master", "main" ]
  pull_request:

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - run: composer install --no-interaction --prefer-dist

      - run: vendor/bin/phpcs

      - run: vendor/bin/phpstan analyse -c phpstan.dist.neon

  health-test:
    runs-on: ubuntu-latest
    needs: lint
    continue-on-error: true

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - run: composer install --no-interaction --prefer-dist

      - run: |
          php -S 127.0.0.1:8000 -t public public/index.php &
          sleep 7s

      - run: curl -f http://127.0.0.1:8000

  tests:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - run: composer install --no-interaction --prefer-dist

      - run: vendor/bin/phpunit

  e2e:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v6

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - uses: actions/setup-node@v6
        with:
          node-version: '20'

      - run: npm ci

      - run: |
          php -S 127.0.0.1:8000 -t public &
          sleep 3

      - run: npx cypress run

  notify:
    runs-on: ubuntu-latest
    if: always()
    needs: [lint, tests, e2e, health-test]

    steps:
      - run: echo "CI finished"